<nav>
  <div class="site-title">
    <a href="/"><h1>Task Manager</h1></a>
    <p>This site is based on database handling CRUD operations </p>
  </div>

  
	<div class="topnav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/task/create">Add-task </a></li>
		  <li><a  href="/tasks"> All Tasks</a>
	    <li><a href="/register">Sign up!</a></li>
	    <li><a href="/login">Login</a></li>
	    <li><a href="/logout">Logout</a></li>
  </ul>

  </div>
  
</nav>

