<!-- // home.ejs -->

<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

<div style="padding-left:16px">
    <h1>This is index page</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Ipsam, molestias mollitia placeat eius cumque, 
    provident ullam doloremque delectus inventore exercitationem hic quia enim, 
    debitis harum id itaque temporibus voluptate fuga?
  </p>
</div>

</body>
</html>
